/***************************************************************************
*                                                                          *
* contented7 - An open source xhtml/css website template by Contented      *
* Designs.  You're free to modify it and use it for any purpose without    *
* cost or obligation. We'd prefer that you leave the link to our website   *
* in the footer but it's not required.                                     *
*                                                                          *
* If you have comments or questions, please contact us at                  *
* http://www.ContentedDesigns.org. Thanks!                                 *
*                                                                          *
* Version: 1.02 (Apr 15, 2010)                                             *
***************************************************************************/

* {
	padding:0;
	margin:0;
}

body {
	color: #333333;
	background-color:#EEEEEE;
        font-family:Verdana,Tahoma,Arial,sans-serif;
	font-size:83%;
	margin:20px auto;
	width:760px;
	padding-left:10px;
	padding-right:10px;
}

h1, h2, h3, h4, h5, h6, p, pre, blockquote, label, ul, ol, dl, 
fieldset, address { margin:0.75em 0;}

h1 {font-size:167%;}

h2 {font-size:139%;}

h3 {font-size:120%;}

h4 {font-size:100%;}

li, dd { 
	margin-left:2em;
}

a {
	color: #CC5500;
	background-color:#EEEEEE;
	font-weight: normal;
	text-decoration: none;
}

a:hover {
	color: #CC5500;
	background-color:#EEEEEE;
	font-weight: normal;
	text-decoration: underline;
}

a.resaltar:link    {color: rgb(200,0,0); background-color:transparent}
a.resaltar:visited    {color: rgb(200,0,0); background-color:transparent}
a.resaltar:active    {color: rgb(200,0,0); background-color:transparent}
a.resaltar:hover    {color: rgb(250,0,0); background-color:transparent}

a.BibTexLink:link    {color: rgb(200,0,0); background-color:transparent}
a.BibTexLink:visited {color: rgb(200,0,0); background-color:transparent}
a.BibTexLink:active  {color: rgb(200,0, 0); background-color:transparent}
a.BibTexLink:hover   {color: rgb(250,0,0); background-color:transparent}

#contact {
	padding:0px 0px 0px 0px;
	float:right;
}

#contact a {
	color: #CC5500;
	background-color:#EEEEEE;
	font-weight:bold;
	text-decoration:none;
}

#contact a:hover {
	color: #CC5500;
	background-color:#EEEEEE;
	text-decoration:underline;
}


#headerbottom {
	width:760px;
	clear:both;
	color: #FFFFFF;
	background-color:#CC6633;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}


#title {
	color: #EEEEEE;
	background-color:#CC6633;
	font-size:200%;
	font-weight:bold;
	padding:10px 0px 0px 10px;
	margin:0px 0px 0px 0px;
	clear:both;
	float:left;
	width:750px;
}

#slogan {
	line-height:38px;
	color: #EEEEEE;
	background-color:#CC6633;
	font-size:70%;
	font-weight:normal;
	font-style:normal;
	padding:0px 0px 0px 10px;
	margin:0px 0px 0px 0px;
	clear:both;
	float:left;
	width:275px;
}


ul#nav {
	color: #EEEEEE;
	background-color:#CC6633;
	float:right;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 6px 10px;
	list-style: none;
	text-align: center;
	width:465px;
}

ul#nav li {
	line-height:16px;
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 0px 0px;
	float: right;
}

ul#nav li a {
	display: block;
	margin: 0px 5px 0px 0px;
	padding: 3px 8px 3px 8px;
	font-size: 70%;
	color: #EEEEEE;
	background-color:#CC6633;
	font-weight: normal;
	text-decoration: none;
}

ul#nav li a:hover { 
	border:1px solid #EEEEEE;
	margin: 0px 5px 0px 0px;
	padding: 2px 7px 2px 7px;
}

ul#nav a.selected { 
	border:1px solid #EEEEEE;
	margin: 0px 5px 0px 0px;
	padding: 2px 7px 2px 7px;
}

#path {
	width:60%;
	clear:both;
	float:left;
	font-size:75%;
	font-weight:normal;
	padding:2px 0px 5px 0px;
	margin:0px 0px 0px 0px;
}

#path a {
	margin:4px 0px 0px 0px;
	font-weight:normal;
}

#content {
	font-size:100%;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	width:760px;
	float:left;
}

#maincontentsm {
	font-size:100%;
	padding:0px 5px 5px 0px;
	margin:0px 0px 0px 0px;
	width:540px;
	float:left;
}


#maincontent {
	font-size:100%;
	padding:0px 5px 5px 0px;
	margin:0px 0px 0px 0px;
	width:540px;
	float:left;
}

#sidecontent {
	color: #666666;
	background-color:#EEEEEE;
	font-size:75%;
	padding:10px 0px 10px 0px;
	margin:0px 0px 10px 10px;
	width:200px;
	float:right;
}

#sidecontent a {
	color: #CC5500;
	background-color:#EEEEEE;
}

#sidecontent h3 { 
	margin:0px 0px 0px 0px;
	padding:2px 0px 2px 5px;
	color: #EEEEEE;
	background-color:#999999;
}

#sidecontent ul { margin:0.25em 0.25em 0.25em 0.25em;}

.section {
	margin:0px 1px 10px 10px;
	padding:0px 0px 0px 0px;
	border: #999999 solid thin;
}

.sectionnews {
	margin:0px 1px 10px 10px;
	padding:0px 0px 0px 0px;
	border: #CC6633 solid thin;
}

.sectionnotes {
	margin:0px 1px 10px 10px;
	padding:0px 0px 0px 0px;
	border: #999999 solid thin;
}

.sectionlinks {
	margin:0px 1px 10px 10px;
	padding:0px 0px 0px 0px;
	border: #FF9966 solid thin;
}

.sectionhelp {
	margin:0px 1px 10px 10px;
	padding:0px 0px 0px 0px;
	border: #CC9966 solid thin;
}

.sectionhead {
	margin:0px 0px 0px 0px;
	padding:2px 0px 2px 5px;
	color: #EEEEEE;
	background-color:#999999;
}

.sectionheadnews {
	margin:0px 0px 0px 0px;
	padding:2px 0px 2px 5px;
	color: #EEEEEE;
	background-color:#CC6633;
}

.sectionheadnotes {
	margin:0px 0px 0px 0px;
	padding:2px 0px 2px 5px;
	color: #EEEEEE;
	background-color:#999999;
}

.sectionheadlinks {
	margin:0px 0px 0px 0px;
	padding:2px 0px 2px 5px;
	color: #EEEEEE;
	background-color:#999999;
}

.sectionheadhelp {
	margin:0px 0px 0px 0px;
	padding:2px 0px 2px 5px;
	color: #EEEEEE;
	background-color:#CC9966;
}

.sectionbody {
	margin:0px 0px 0px 0px;
	padding:2px 0px 2px 5px;
}

#footer {
	height:40px;
	color:#333333;
	background-color:#EEEEEE;
	border-top:3px solid #CC6633;
	font-size:75%;
	line-height:1.5em;
	width: 760px;
	clear:both;
}

#footer	a {
	color:#CC5500;
	background-color:#EEEEEE;
	text-decoration: none;
}

#footer	a:hover {
	color:#CC5500;
	background-color:#EEEEEE;
	font-weight: normal;
	text-decoration: underline;
}

#copyrightdesign {
	color:#333333;
	background-color:#EEEEEE;
	padding:5px 20px 5px 0px;
	width: 580px;
	float:left;
}

#footercontact {
	color:#CC5500;
	background-color:#EEEEEE;
	padding:5px 0px 5px 0px;
	float:right;
}

